.content {display: none}
.carousel {
    /*background:lightgrey;*/
}

.carousel > ul > li {
    width:160px; 
    height:200px;
    margin:50px;
}

#descr1 {
    background-color:lightgrey;
    -moz-border-radius-bottomleft:6px;
    -moz-border-radius-bottomright:6px;
    -moz-border-radius-topleft:6px;
    -moz-border-radius-topright:6px;
    height:180px;
    font:sans-serif;
    font-size:20px;
    width: 780px;
    margin-top:20px;
}

#items {
    margin-top:-150px;
}

.prev {
    position:relative;
    top:100px;
    left:-100px;
}

.next {
    position:relative;
    top:100px;
    left:-690px;
}

div.title {
    font-size: 20px;
}

.panel-wrapper > h2 {
    color: #800000;
}

.panel-wrapper > p {
    font-size: 15px;
    font-weight: bold;
}

.panel > h2 {
    color: #800000;
}

.panel > p {
    font-size: 15px;
    font-weight: bold;
}

.panel > h4 {
    color: #800000;
}


.panel {
    font-size: 15px;
    font-weight: bold;
}

.panel > ul {
    font-size: 15px;
    list-style-image: url(/img/check.jpg);
    font-weight: bold;
}

.link:visited { color: #006666; }

.link {
    text-decoration: none;
    outline: none;
    color: #006633;
    font-size: 30px;
    border-bottom: 1px dashed;
}

#contact_us {
    position:relative;
    top:-75px;
    float:right;
    text-decoration:none;
    outline:none;
    font-size:32px;
    color: #003366;
}

#top {
    float:right; 
    text-decoration:none;
    outline:none;
}

#top > div {
    color:black;
    font-size:20px;
    margin-left:10px;
    margin-top:-15px;
}

#header > h1 {
    margin-top:0.5em;
    color:#990000;
}
